* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body, html {
  background-color: #ddd;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 10px;
}

.header {
  display: grid;
  grid-template-areas: 'hero hero feature-1' 
                       'hero hero feature-2';
}

.hero {
  grid-area: hero;
  padding: 50px;
  min-height: 300px;
  background-image: url('../img/placeimg_800_600_arch.jpg');
  background-size: cover;
  background-position: center;
}

.hero > * {
  display: none;
}

.features {
  background-color: black;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url('../img/placeimg_1000_1000_arch.jpg');
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url('../img/placeimg_1000_1000_arch\ \(1\).jpg');
  background-size: cover;
}

.features > .price {
  font-size: 3em;
  font-weight: 200;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  order: -1;
}

.menu > .brand {
  font-size: 1.3em;
  color: #333;
}

.menu > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu-list > li > a {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}